<div class="wrapper">
  <app-sidemenu></app-sidemenu>

  <div class="main">
    <app-top></app-top>

    <main class="content">
      <div class="container-fluid p-0">
        <h1 class="h3 mb-3"><strong>View category</strong></h1>
        <a routerLink="add" class="btn btn-info">Add category</a>
        <div class="row mt-5">
          <div class="col-12 col-lg-12 col-xxl-9 d-flex">
            <div class="card flex-fill">
              <table class="table table-hover my-0">
                <thead>
                  <tr>
                    <th>Category</th>
                    <th>Slug</th>
                    <th>Option</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let categoryLists of categoryList">
                    <td>{{ categoryLists.category_name }}</td>
                    <td>{{ categoryLists.category_slug }}</td>
                    <td>
                      <a
                        [routerLink]="['edit', categoryLists.category_id]"
                        class="btn btn-info"
                        >EDIT
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>

    <app-bottom></app-bottom>
  </div>
</div>
